@import "tailwindcss";


.orbit{
  animation: orbit 20s linear infinite;

}
.orbit-delay-5{
  animation: orbit 20s linear infinite -5s;
}
.orbit-delay-10{
  animation: orbit 20s linear infinite -10s;
}
.orbit-delay-15{
  animation: orbit 20s linear infinite -15s;
}

@keyframes orbit {
  0%{
    transform: rotate(0deg) translateX(90px)  rotate(0deg);
  } 
  100%{
    transform: rotate(360deg) translateX(90px)  rotate(-360deg);
    
    
  } 
}

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0.2;
  }

  50% {
    transform: translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0.2;
  }
}
.hide-scrollbar::-webkit-scrollbar{
  display: none;
}
.fontstyle{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 400;
  color: aqua;
  font-size: large;
}